/*
	공통적인 List에 적용되는 css
	최종 수정일 : 2016.08.04
*/

@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

h2 {
	font-family: 'Jeju Gothic', sans-serif;
}

#topic-tab>li.active>a, #topic-tab>li.active>a:focus, #topic-tab>li.active>a:hover
	{
	color: #224f77;
	font-weight: bold;
	background-color: #fff
}
.nav-pills li a {
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 13pt;	
}

.grid-item{
	margin-top: 30px;
	border:1px #d9edf7 solid;
	width: 350px;
}
.card {
	cursor: pointer;
}
.card:hover {
	opacity: 0.5;
}
.card_header {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	height:160px;
}
.card_header label {
	margin-left: 15px;
	padding: 5px;
	font-family: 'Nanum Gothic', sans-serif;
}
.card_header_noneImg {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	height:160px;
	background-color: rgba(230, 230, 230, 0.5);	
}
.card_header_noneImg label{
	margin-left: 15px;
	padding: 5px;
	font-family: 'Nanum Gothic', sans-serif;
}
.card_body {
	padding: 5px;
	word-break:break-all;
	text-overflow: ellipsis;
	width:inherit;
}
.card_body p {
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 12pt;
	padding: 5px;
	margin-top: 10px;
}
.coverImg {
	position: absolute;
	left:0; 
	top:0; 
	width:100%; 
	height:130px; 
	opacity:0.5;
	z-index:-1;"
}
#load {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-bottom: 80px;
}
/* 찬반카드에 쓰이는 css */
.pro {
	color:blue;
	margin-left: 20px;
	font-family: 'Jeju Gothic', sans-serif;
}
.con {
	color:red;
	font-family: 'Jeju Gothic', sans-serif;
}
.neut {
	color:gray;
	font-family: 'Jeju Gothic', sans-serif;
}
