@CHARSET "UTF-8";

.notice {
	margin-top: 300px;
	text-align: center;
	text-size: 35pt;
}

.needCheck {
	margin-top: 200px;
}

.login {
	margin-top: 200px;
}

.findPw {
	margin-top: 200px;
}

a:link {
	color: red;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.body {
	margin-top: 50px
}