/*
	ongoing.css
	작성자 : 최락휘
	작성일 : 2016.07.29
	최종수정 : 2016.07.29
*/
@CHARSET "UTF-8";

body {
	overflow-x: hidden;
	overflow-y: scroll;
}
.container {
	margin-top: 50px;
}
.nav-pills {
	margin-top: 20px;
	
}
.nav-pills li{
	/* 부트스트랩 우선순위 때문에 직접 지정 */
	cursor: pointer;
}
.item {
	margin-top: 15px;
	border:1px #d9edf7 solid;
}
#card_header {
	padding-top : 25px;
	padding-bottom: 25px;
}
#card_header label {
	margin-left: 15px;
}
#card_header_noneImg {
	padding-top : 25px;
	padding-bottom: 25px;
	background-color: rgba(230, 230, 230, 0.5);	
}
#card_header_noneImg label {
	margin-left: 15px;
}
#card_body {
	padding: 5px;
}
#coverImg {
	position: absolute;
	left:0; 
	top:0; 
	width:100%; 
	height:130px; 
	opacity:0.5;
	z-index:-1;"
}
#pro {
	color:blue; 
	margin-left:20px;
}
#con {
	color:red;
}
#neut {
	color:gray;
}