<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.myapp.mappers.expiredMapper">

	<select id="checkExpired" resultType="int">
		select topic_no from topic_tbl where topic_progress = 1 and topic_endate <![CDATA[ < ]]> now()
	</select>
	
	<select id="checkExpired2" resultType="int">
		select topic_no from topic_tbl where topic_progress = 3 and topic_endate <![CDATA[ < ]]> now()
	</select>

	<update id="expiredProposal">
		update topic_tbl set topic_progress = 2 where topic_progress = 1 and topic_endate <![CDATA[ < ]]> now()
	</update>
	
	<update id="expiredProposal2">
		update topic_tbl set topic_progress = 4 where topic_progress = 3 and topic_endate <![CDATA[ < ]]> now()
	</update>
	
	<select id="getTimelineDTO" parameterType="int" resultType="TimelineDTO">
		select user_no, topic_no, topic_type from topic_tbl where topic_no = #{topic_no};
	</select>
	
	<insert id="timelineTopic" parameterType="TimelineDTO">
		insert into
		timeline_tbl (user_no, topic_no, topic_type, timeline_type) values
		(#{user_no}, #{topic_no}, #{topic_type}, #{timeline_type});
	</insert>
	
	<insert id="notiTopic" parameterType="NotiDTO">
		insert into
		noti_tbl (user_no, topic_no, other_user_no, noti_type) values
		(#{user_no}, #{topic_no}, #{other_user_no}, #{noti_type});
	</insert>
	
</mapper>