<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.four.mappers.memberMapper">
	<select id="selectMember" resultType="MemberVO">
		select *
        from user_tbl
		where user_email=#{user_email}
	</select>

	<select id="readWithPW" resultType="MemberVO">
		select * from user_tbl
		where
		user_email=#{user_email} and user_pw=#{user_pw}
	</select>

	<insert id="registMember" parameterType="MemberVO">
		insert into user_tbl
		(user_email, user_pw, user_nick) values
		(#{user_email}, #{user_pw},
		#{user_nick})
	</insert>
	<update id="modifyMember" parameterType="MemberVO">
		update user_tbl set
		user_pw = #{user_pw}, user_nick=#{user_nick}
	</update>
	<select id="allMember" resultType="MemberVO">
		select * from user_tbl
	</select>
	<select id="chkUser_email" resultType="int">
		SELECT
		count(*)
		FROM user_tbl
		WHERE user_email = #{user_email}
	</select>
	<select id="chkUser_nick" resultType="int">
		SELECT
		count(*)
		FROM user_tbl
		WHERE user_nick = #{user_nick}
	</select>
	<select id="findPw" resultType="MemberVO">
				select * from user_tbl
		where
		user_email=#{user_email} and user_nick=#{user_nick}
	</select>
	<update id="member_check" parameterType="MemberVO">
	update user_tbl set
	user_check = #{user_check} where user_email=#{user_email}
	</update>
</mapper>