<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.four.mappers.mypageMapper">
	<select id="timeline" parameterType="String" resultType="com.four.myapp.domain.TimelineDTO">
		select timeline_tbl.user_no, timeline_tbl.topic_no, vote_type, timeline_type, timeline_date, topic_title
 		from timeline_tbl left join topic_tbl 
 		on timeline_tbl.topic_no=topic_tbl.topic_no
 		where timeline_tbl.user_no=#{user_no} order by timeline_date desc;
	</select>
	<select id="getNoti" parameterType="String" resultType="NotiDTO">
		 select noti_no, noti_tbl.user_no, noti_tbl.topic_no, other_user_no, noti_type, noti_date, topic_title, user_nick as other_user_nick
 		from noti_tbl 
        left join topic_tbl on noti_tbl.topic_no=topic_tbl.topic_no
		left join user_tbl on noti_tbl.other_user_no=user_tbl.user_no
 		where noti_tbl.user_no=#{user_no} and noti_check='N' order by noti_no desc;
	</select>
	<update id="dismissNoti" parameterType="String">
		update noti_tbl set noti_check='Y' where noti_no=#{noti_no};
	</update>
	<select id="getMyList" parameterType="MyListDTO" resultType="com.four.myapp.domain.MainDto">
		SELECT topic_tbl.topic_no, topic_tbl.user_no, topic_type, topic_title, topic_short_cont, topic_progress, debate_tot_pro, debate_tot_con, debate_tot_neut, op_cnt, recomnd_cnt, img_file_name, img_ext_name
		FROM topic_tbl LEFT JOIN debate_tbl ON topic_tbl.topic_no = debate_tbl.topic_no
		LEFT JOIN (select count(op_no) as op_cnt, topic_no from opinion_tbl) as op_tbl ON topic_tbl.topic_no = op_tbl.topic_no
		LEFT JOIN (select count(recommend_tbl.topic_no) as recomnd_cnt, topic_no from recommend_tbl) as recommend_tbl ON topic_tbl.topic_no = recommend_tbl.topic_no
        LEFT JOIN topic_cover_img_tbl AS img_tbl ON topic_tbl.topic_no = img_tbl.topic_no
		WHERE topic_tbl.user_no=#{user_no} ORDER BY topic_no desc limit #{index}, 9;
	</select>
	<select id="getMyRecmdList" parameterType="String" resultType="MainDto">
		select topic_tbl.topic_no, user_no, topic_type, topic_title, topic_short_cont, topic_progress, recomnd_cnt 
		from topic_tbl left join (select count(recommend_tbl.topic_no) as recomnd_cnt, topic_no from recommend_tbl) 
		as recommend_tbl on topic_tbl.topic_no = recommend_tbl.topic_no where topic_progress = 1 and topic_tbl.user_no=#{user_no} order by topic_no desc;		
	</select>
	
	<select id="getMyFinishList" parameterType="String" resultType="MainDto">
		select topic_tbl.topic_no, topic_tbl.user_no, topic_type, topic_title, topic_short_cont, topic_progress, debate_tot_pro, debate_tot_con, debate_tot_neut, 
		op_cnt, recomnd_cnt from topic_tbl left join debate_tbl on topic_tbl.topic_no = debate_tbl.topic_no left join (select count(op_no) as op_cnt, topic_no from opinion_tbl) 
		as op_tbl on topic_tbl.topic_no = op_tbl.topic_no left join (select count(recommend_tbl.topic_no) as recomnd_cnt, topic_no from recommend_tbl) as recommend_tbl 
		on topic_tbl.topic_no = recommend_tbl.topic_no and topic_tbl.user_no=#{user_no} where topic_progress in (1,4) order by topic_no desc;
	</select>
	<update id="uploadProfile" parameterType="MemberVO">
		update user_tbl set profile_file_name=#{profile_file_name}, profile_ext_name=#{profile_ext_name}, user_profile=#{user_profile}
		where user_no=#{user_no};
	</update>
</mapper>