<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.myapp.mappers.proposalMapper">

	<insert id="recommend" parameterType="hashmap">
		insert into recommend_tbl(topic_no, user_no) values(#{topic_no}, #{user_no})
	</insert>

	<insert id="proposalUp" parameterType="TopicProposalDTO">
		insert into topic_tbl(user_no, topic_type, topic_title, topic_short_cont, topic_endate, topic_progress) values(#{user_no}, #{topic_type}, #{topic_title}, #{topic_short_cont}, date_add(now(), interval +10 day), 1)
	</insert>
	
	<insert id="proposalDetailUp" parameterType="TopicProposalDTO">
		insert into topic_detail_tbl(topic_no, topic_long_cont, topic_pro, topic_con) values (#{topic_no}, #{topic_long_cont}, #{topic_pro}, #{topic_con})
	</insert>
	
	<insert id="proposalRefUp" parameterType="ProposalRefDTO">
		insert into topic_resource_tbl(topic_no, topic_resource_title, topic_resource_link) values(#{topic_no}, #{topic_resource_title}, #{topic_resource_link})
	</insert>
	
	<insert id="imgUp">
		insert into topic_cover_img_tbl(topic_no, img_file_name, img_ext_name, img_regdate) values(#{topic_no}, #{img_file_name}, #{img_ext_name}, now())
	</insert>
	
	<select id="getLatest" resultType="int">
		select topic_no from topic_tbl where user_no = #{user_no} order by topic_regdate desc limit 1;
	</select>
	
	<select id="hadRecommended" resultType="hashmap" parameterType="hashmap">
		select topic_no, user_no from recommend_tbl where topic_no = #{topic_no} and user_no = #{user_no}
	</select>

	<select id="checkSaved">
		select t.topic_no, t.topic_type, t.topic_title, t.topic_short_cont from topic_tbl t left join topic_detail_tbl d on t.topic_no = d.topic_no left join topic_cover_img_tbl c on t.topic_no = c.topic_no where t.topic_progress = 0 and t.user_no = #{user_no}
	</select>
	
	<select id="getList" resultType="TopicProposalDTO">
		select t.topic_no, t.topic_type, t.topic_title, t.topic_short_cont, t.topic_progress, count(r.user_no) as recommend, t.topic_regdate, t.topic_endate from topic_tbl t left join recommend_tbl r on t.topic_no = r.topic_no where t.topic_progress = 1 group by t.topic_no order by topic_regdate
	</select>
	
	<select id="getTopic" resultType="TopicProposalDTO" parameterType="int">
		SELECT t.topic_no, t.topic_type, t.topic_title, t.topic_short_cont, d.topic_long_cont, d.topic_pro, d.topic_con, u.user_nick, u.user_profile, count(r.user_no) as recommend FROM topic_tbl t left join recommend_tbl r on t.topic_no = r.topic_no LEFT JOIN topic_detail_tbl d ON t.topic_no = d.topic_no JOIN user_tbl u on t.user_no = u.user_no WHERE t.topic_no = #{topic_no} group by t.topic_no;
	</select>
	
	<select id="getRef" resultType="ProposalRefDTO" parameterType="int">
		select topic_no, topic_resource_title, topic_resource_link from topic_resource_tbl where topic_no = #{topic_no}
	</select>
	
	<select id="getReplies" resultType="ReplyDTO" parameterType="int">
		select u.user_nick, u.user_profile, r.reply_content, r.reply_regdate from reply_tbl r join user_tbl u on r.user_no = u.user_no where r.topic_no = #{topic_no}
	</select>
</mapper>