<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.four.mappers.readMapper">

	<select id="selectRead" resultType="com.four.myapp.domain.ReadVO">
		select  A.topic_no, A.topic_endate, A.topic_type, A.topic_title, A.topic_short_cont,
		B.topic_long_cont, B.topic_pro, B.topic_con,
		C.debate_endate, C.debate_tot_pro, C.debate_tot_con, C.debate_tot_neut,
		(Select user_nick From user_tbl where user_no = A.user_no) AS user_nick
		FROM topic_tbl AS A 
        INNER JOIN topic_detail_tbl AS B
        INNER JOIN debate_tbl AS C
		where A.topic_no = #{topic_no} and  B.topic_no = #{topic_no} and C.topic_no = #{topic_no}
	</select>

	<select id="selectResource" resultType="com.four.myapp.domain.ReadResourceVO">
		select topic_resource_title, topic_resource_link from topic_resource_tbl where topic_no = #{topic_no}
	</select>

	<select id="selectOpinion" resultType="com.four.myapp.domain.ReadOpinionVO">
		select A.op_no, A.user_no, A.op_content,A.op_rel, A.op_regdate,
      A.vote_type,(Select user_nick From user_tbl where user_no = A.user_no) AS user_nick,
      (Select user_lv From user_tbl where user_no = A.user_no) AS user_lv,
      (Select count(op_like) From op_like_tbl where op_no = A.op_no) AS op_count,
        (Select count(op_like) From op_like_tbl where op_no = A.op_no and op_like = 0) AS op_like
       from opinion_tbl AS A where topic_no = #{topic_no}
	</select>

	<insert id="topicvoteinsert">
		insert into vote_tbl (topic_no, user_no, vote_type) values(#{topic_no},#{user_no},#{vote_type})
	</insert>
	
	<update id="votepro">
		update debate_tbl set debate_tot_pro = debate_tot_pro+1 where topic_no = #{topic_no}
	</update>
	<update id="votecon">
		update debate_tbl set debate_tot_con = debate_tot_con+1 where topic_no = #{topic_no}
	</update>
	<update id="voteneut">
		update debate_tbl set debate_tot_neut = debate_tot_neut+1 where topic_no = #{topic_no}
	</update>
	
	<select id="readvote" resultType="com.four.myapp.domain.ReadVO">
		select user_no from vote_tbl where topic_no = #{topic_no} and user_no = #{user_no}
	</select>
	
	<insert id="likevoteinsert">
		insert into op_like_tbl (op_no, user_no, op_like) values(#{op_no}, #{user_no}, #{op_like})
	</insert>
	<select id="readoplike" resultType="com.four.myapp.domain.ReadoplikeVO">
		select op_no from op_like_tbl where user_no = #{user_no}
	</select>
	
	<insert id="insertoption">
		insert into opinion_tbl (user_no, topic_no, op_content, op_rel, op_regdate, vote_type) 
		values(#{user_no}, #{topic_no}, #{op_content}, #{op_rel}, now() ,#{vote_type})
	</insert>
	
	<update id="updateoption">
		update opinion_tbl set op_content = #{op_content} where op_no = #{op_no}
	</update>
	<delete id="deletetag">
	delete from tag_tbl where tag_op_no = #{op_no};
	</delete>
	<delete id="deletetagged">
	delete from tag_tbl where tagged_op_no = #{op_no};
	</delete>
	<delete id="deletelike">
		delete from op_like_tbl where op_no = #{op_no};
	</delete>
	<delete id="deleteoption">
		delete from opinion_tbl where op_no = #{op_no};
	</delete>
	<select id="selectcomment" resultType="com.four.myapp.domain.ReadVO">
		select op_no from opinion_tbl where op_rel = #{op_rel} and op_content = #{op_content} and vote_type = #{vote_type} and user_no = #{user_no}
	</select>
	
	<insert id="inserttag">
		insert into tag_tbl (tag_op_no, tagged_op_no, topic_no) values(#{tag_op_no},#{tagged_op_no}, #{topic_no})
	</insert>
	<select id="taglist" resultType="com.four.myapp.domain.ReadtagVO">
		select tag_op_no, tagged_op_no from tag_tbl where topic_no = #{topic_no}
	</select>
</mapper>