<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.four.mappers.timelineMapper">
	<insert id="timelineTopic" parameterType="TimelineDTO">
		insert into
		timeline_tbl (user_no, topic_no, topic_type, timeline_type) values
		(#{user_no}, #{topic_no}, #{topic_type}, #{timeline_type});
	</insert>
	<insert id="timelineVote" parameterType="TimelineDTO">
		insert into timeline_tbl
		(user_no, topic_no, topic_type, timeline_type, vote_type) values
		(#{user_no}, #{topic_no}, #{topic_type}, #{timeline_type},
		#{vote_type});
	</insert>
	<select id="getLatest" resultType="int">
		select topic_no from topic_tbl
		where user_no = #{user_no} order by topic_regdate desc limit 1;
	</select>
	<select id="getTopic" parameterType="int" resultType="TimelineDTO">
		select user_no, topic_no, topic_type from topic_tbl
		where topic_no = #{topic_no};
	</select>
</mapper>