/*
	작성자 : 최락휘
	작성일 : 2016.07.29
*/
@CHARSET "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.item {
	margin-top: 15px;
}
.header_item {
	margin-top: 5px;
}
.header_item label {
	font-size: 13pt;
	font-family: 'Nanum Gothic', sans-serif;
	margin-right: 10px;
	padding: 5px;
}
.header_item span {
	font-size: 15pt;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}
#main_title {
	margin-top: 60px;
}
#main_title h2 {
	font-family: 'Jeju Gothic', sans-serif;
}
center h3 {
	font-family: 'Jeju Gothic', sans-serif;
}
.pro {
	color:blue; 
	margin-left:20px;
	font-family: 'Jeju Gothic', sans-serif;
}
#pro_board {
	color:blue;
	margin-left:35px;
}
.con {
	color:red;
	font-family: 'Jeju Gothic', sans-serif;
}
.neut {
	color:gray;
	font-family: 'Jeju Gothic', sans-serif;
}
#board_title {
	margin-left:20px;
	font-family: 'Nanum Gothic', sans-serif;
}
.board_title h3 {
	font-family: 'Jeju Gothic', sans-serif;
}
#board_icon {
	 float:right;
}
.board_title h3{
	margin-left: 50%;
}
.board_title a {
	float: right;
}
#last {
	margin-bottom: 200px;
}