/*
	작성자 : 최락휘
	작성일 : 2016.07.29
	수정일 : 2016.08.04
*/
@CHARSET "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.item {
	margin-top: 15px;
}
.grid-item{
	margin-top: 30px;
	border:1px #d9edf7 solid;
}
.card {
	cursor: pointer;
}
.card:hover {
	opacity: 0.5;
}
.card_header {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	height:160px;
}
.card_header label {
	margin-left: 15px;
	padding: 5px;
	font-family: 'Nanum Gothic', sans-serif;
}
.card_header_noneImg {
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 20px;
	height:160px;
	background-color: rgba(230, 230, 230, 0.5);	
}
.card_header_noneImg label{
	margin-left: 15px;
	padding: 5px;
	font-family: 'Nanum Gothic', sans-serif;
}
.card_body {
	padding: 5px;
}
.card_body p {
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 12pt;
	/*padding: 5px;*/
}
.coverImg {
	position: absolute;
	left:0; 
	top:0; 
	width:100%; 
	height:130px; 
	opacity:0.5;
	z-index:-1;"
}
.header_item {
	margin-top: 5px;
}
.header_item label {
	font-size: 13pt;
	font-family: 'Nanum Gothic', sans-serif;
	margin-right: 10px;
	padding: 5px;
}
.header_item span {
	font-size: 15pt;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}
#main_title {
	margin-top: 60px;
}
#main_title h2 {
	font-family: 'Jeju Gothic', sans-serif;
}
center h3 {
	font-family: 'Jeju Gothic', sans-serif;
}
.pro {
	color:blue; 
	margin-left:20px;
	font-family: 'Jeju Gothic', sans-serif;
}
.pro_board {
	color:blue;
	font-family: 'Jeju Gothic', sans-serif;
	margin-left:30px;
}
.con {
	color:red;
	font-family: 'Jeju Gothic', sans-serif;
}
.neut {
	color:gray;
	font-family: 'Jeju Gothic', sans-serif;
}
.board_title {
	/*margin-left:20px;*/
	font-family: 'Nanum Gothic', sans-serif;
}
.board_title h3, .board_title span {
	font-family: 'Jeju Gothic', sans-serif;
}
.board_icon {
	 float:right;
}
.board_title h3{
	/*margin-left: 50%;*/
}
.board_title a {
	float: right;
}
#last {
	margin-bottom: 200px;
}