<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.four.myapp.proposal">
	<insert id="proposalUp">
		insert into topic_tbl ()
	</insert>

	<insert id="coverImgUp">
		insert into topic_cover_img_tbl (topic_no, img_file_name) values (#{topic_no}, #{img_file_name})
	</insert>
</mapper>