@CHARSET "UTF-8";

.top {
	margin-top: 70px;
}

.minibottom {
	margin-bottom: 10px;
}

.minitop {
	margin-top: 15px;
}
#bottom {
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-bottom: 80px;
}

